---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Savant - Knowledge that walks with you" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Ruluko&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      // This is a workaround for Astro's current limitations with component-level scripts
      document.addEventListener('astro:page-load', () => {
        const hamburger = document.querySelector('.hamburger');
        const menuItems = document.querySelector('.menu-items');

        hamburger.addEventListener('click', () => {
          hamburger.classList.toggle('active');
          menuItems.classList.toggle('active');
        });
      });
    </script>
  </head>
  <body>
    <div class="page-wrapper">
      <slot />
    </div>
  </body>
</html>
<style is:global>
:root {
	--text: #e6e5fa;
	--background: #08061e;
	--primary: #9b95e9;
	--secondary: #8c1d4b;
	--accent: #65b86f;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Ruluko', system-ui, sans-serif;
	background: var(--background);
	color: var(--text);
	display: flex;
	flex-direction: column;
}
.page-wrapper {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>